page-acerca {

    .card-md p{
        margin-left: 5%;
        margin-right: 5%;
        color: #250b55;
    }

    .card-md h1{
        margin-left: 5%;
        margin-right: 5%;
        color: #4c2ac5;

    }
}
